<p>Hey %recipient.first_name%,</p>

<p>Welcome to MissionDM! Thanks for creating a game. Before you start sending out signups we recommend that you familiarize yourself with the admin panel. Make sure to tweak the game rules to best fit your game. You can start the game by clicking ‘Start Game’ in the ‘Game Settings’ panel.</p>

<p>Sincerely,<br />
The MissionDM Team</p>

<p>To unsubscribe from all future MissionDM emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>