var config = {
    BRAND_NAME: 'TestName',
    ENV: 'prod',
    VERSION: '1.1.0',
    DEFAULT_VIEW: 'target',
    LOCAL_ROOT: '/path/to/webapp',
    WEB_ROOT: 'http://apilocation.com',
    CLIENT_ROOT: 'http://websitelocation.com',
    APP_ID: 0,
    SENTRY_DSN : '',
    ALL_PERMISSIONS: 'public_profile,email,user_friends,user_photos'
};

var app = {
    Collections: {},
    Models: {},
    Views: {},
    Routers: {},
    Running: {},
    Session: {}
};
