<p>Hey %recipient.first_name%,</p>

<p>Bob Dylan once wrote, The Times They Are a-Changin’, and once again, change is in the air. We like to reward players for their hard work. If the strongest agent (most completed missions) for their team has been terminated, he/she is reactivated. Just to keep the playing ground even, however, all of the strongest agents’ missions will be to target each other. For everyone else, you get a new mission.</p>

<p>One more thing: Anyone who doesn't compromise his/her mission by {{.Deadline}} is out.</p>
<p>Log in to check out your new mission!</p>

<p>Good Luck!<br />
The MissionDM Team</p>

<p>To unsubscribe from all future MissionDM emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>